@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== BACKGROUND ===== */
/* body {
  background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 157, 125, 0.7) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  background-attachment: fixed;
  background-size: cover;
  color: #333;
  overflow-x: hidden;
  position: relative;
} */

body {
  background-image: url("./assets/images/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 1; */
}


/* ===== TEXTURE OVERLAY ===== */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  background-image:
    radial-gradient(circle at 25% 25%, #fdd0c1 1px, transparent 1px),
    radial-gradient(circle at 75% 75%, #fdd0c1 1px, transparent 1px);
  background-size: 2px 2px;
  opacity: 0.8;
  mix-blend-mode: overlay;
  filter: blur(0.4px);
}

